[user]
  name = kamillle
  email = yuji.kmjm@gmail.com
[alias]
  co  = checkout
  st  = status
  stt = status --short --branch
  cm = commit
  fh = fetch --prune # remoteで削除済のものはlocalでも削除する
  del = branch -D
  rename = branch -m
  rsync = "!git fetch upstream $(git rev-parse --abbrev-ref HEAD) && git reset --hard FETCH_HEAD"
  df = diff
  ps = push
  # for hub
  pr = pull-request
  b = browse
[core]
  excludesfile = /Users/yuji/.gitignore_global
